mixin rowData(field, data)
  div
    span.attribute "#{field}"
    span.control.inline :
    - var link = data.split('~')
    - if (link[0] === 'link')
      span.value
      | "
      a(href=link[2]) #{link[1]}
      | "
    - else
      span.value "#{data}"
    span.control.inline ,
