include partials/object
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Cesar Gonzalez it engineer
    meta(name='description', content='Cesar Gonzalez it engineer')
    meta(name='HandheldFriendly', content='True')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='assets/img/favicon.ico?v=d519e57077')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/layout.css?v=d519e57077')
    link(rel='stylesheet', href='assets/css/syntax-highlighting.css?v=d519e57077')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      meta(name='referrer', content='origin')
      meta(property='og:site_name', content='Cesar Gonzalez Gonzalez')
      meta(property='og:type', content='website')
      meta(property='og:title', content='Cesar Gonzalez Gonzalez')
      meta(property='og:description', content='Cesar Gonzalez it engineer')
      meta(property='og:url', content='http://cv.madacluster.co/')
      meta(property='og:image', content='http://blog.madacluster.tech/content/images/2015/11/Hj8hF8z-1.jpg')
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:title', content='Cesar Gonzalez it engineer')
      meta(name='twitter:description', content='Cesar Gonzalez it engineer')
      meta(name='twitter:url', content='http://cv.madacluster.tech/')
        meta(name='twitter:image:src', content='http://blog.madacluster.tech/content/images/2015/11/Hj8hF8z-1.jpg')
      script(type='application/ld+json').
        {
        "@context": "http://schema.org",
        "@type": "Website",
        "publisher": "Cesar Gonzalez it engineer",
        "url": "http://cv.madacluster.tech/",
        "image": "http://blog.madacluster.tech/content/images/2015/11/Hj8hF8z-1.jpg",
        "description": "Cesar Gonzalez it engineer"
        }
      meta(name='generator', content='Ghost 0.7')
      link(rel='alternate', type='application/rss+xml', title='Devopseando', href='http://blog.madacluster.tech/rss/')
  body
    .container(role='main')
      .row
        .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1
          .indentation-container
            //- - var dataTEst = {name: "cesar",address:{street:"strasse"}}
            +objectData(cv)
            .row.indentation-content
          .indentation.indentation-toggle
          .indentation-line
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  script(src='assets/js/layout.js?v=d519e57077')
  script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.3.min.js')
  script(type='text/javascript', async='', src='https://www.statuscake.com/App/RUM/embed.js')
